
body
{
background-color: black;

}
svg path:nth-child(1)
{
    animation: name 5s linear forwards;
    stroke-dasharray: 1100px;
    stroke-dashoffset: 100px;
}
svg path:nth-child(2)
{
    stroke-dasharray: 1100px;
    stroke-dashoffset: 100px;
    animation: name 5s linear forwards;
}
svg path:nth-child(3)
{
    stroke-dasharray: 1100px;
    stroke-dashoffset: 100px;
    animation: name 5s linear forwards;
}
svg path:nth-child(4)
{
    stroke-dasharray: 1500px;
    stroke-dashoffset: 100px;
    animation: name 5s linear forwards;
}
svg path:nth-child(5)
{
    stroke-dasharray: 1100px;
    stroke-dashoffset: 100px;
    animation: name 5s linear forwards;
}
svg path:nth-child(6)
{
    stroke-dasharray: 1100px;
    stroke-dashoffset: 100px;
    animation: name 5s linear forwards;
}
@keyframes name
{
    0%{
        stroke-dashoffset: 0%;
    }
    100%
    {
        stroke-dashoffset:100% ;
        stroke-dasharray: 0%;
    }
}
